.section-header{
    display:flex;
    justify-content:space-between;
    align-items:end;
    margin-bottom:50px;
    gap:30px;
}

.section-header.center{
    flex-direction:column;
    align-items:center;
    text-align:center;
}

.section-badge{

    display:inline-flex;
    align-items:center;

    padding:8px 16px;

    border-radius:30px;

    background:#EEF4FF;

    color:#2563EB;

    font-size:14px;

    font-weight:600;

    margin-bottom:18px;

}

.section-header h2{

    font-size:44px;

    font-weight:800;

    color:#111827;

    margin-bottom:12px;

}

.section-header p{

    max-width:620px;

    color:#6B7280;

    font-size:18px;

    line-height:1.7;

}

.section-action-btn{

    border:none;

    background:#2563EB;

    color:white;

    padding:14px 26px;

    border-radius:12px;

    cursor:pointer;

    transition:.25s;

}

.section-action-btn:hover{

    background:#1D4ED8;

}