.product-card{

    background:#fff;

    border-radius:18px;

    overflow:hidden;

    border:1px solid #eee;

    transition:.3s;

    cursor:pointer;

}

.product-card:hover{

    transform:translateY(-8px);

    box-shadow:0 20px 50px rgba(0,0,0,.08);

}

.product-image{

    position:relative;

    height:240px;

    overflow:hidden;

}

.product-image img{

    width:100%;

    height:100%;

    object-fit:cover;

}

.wishlist-btn{

    position:absolute;

    top:15px;

    right:15px;

    width:42px;

    height:42px;

    border:none;

    border-radius:50%;

    background:white;

    cursor:pointer;

}

.product-body{

    padding:22px;

}

.condition{

    display:inline-block;

    background:#EEF4FF;

    color:#2563EB;

    padding:6px 12px;

    border-radius:30px;

    font-size:13px;

    margin-bottom:12px;

}

.product-body h4{

    font-size:20px;

    margin-bottom:10px;

}

.product-body h3{

    color:#2563EB;

    margin-bottom:18px;

}

.product-footer{

    display:flex;

    justify-content:space-between;

    align-items:center;

    font-size:14px;

    color:#666;

}

.location,
.verified{

    display:flex;

    align-items:center;

    gap:5px;

}